<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ignis Taste</title>
</head>

<body>
    <a href="#post-contain" class="skip-link">SKip</a>
    <header>
        <nav>
            <div id="nav-icon3" tabindex="0" role="button" aria-pressed="false">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="nav-img">
                <a href="#">
                    <img src="./public/images/logo1.png" alt="">
                </a>
            </div>
            <ul id="drawer">
                <li>
                    <a href="#" class="aClass">Home</a>
                </li>
                <li>
                    <a href="#" class="aClass">Favourite</a>
                </li>
                <li>
                    <a class="aClass" href="https://github.com/CardinalRPH">About Us</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container-fluid">
            <div class="jumbotron" id="jumbotron">
                <div class="jumbotron-body">
                    <div class="inner-bg-body">
                        <h1>Fresh and Delicious</h1>
                        <div class="sub-title-bg">
                            <p>

                                traditional <mark>Nusantara</mark> food to delight whole family
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container my-5 text-center" id="post-contain">
            <h1 class="post-title">Explore Something</h1>
            <div class="grid-container" id="grid-container-1">
            </div>
        </div>
    </main>
    <footer class="text-center">
        <div class="container">
            <a href="#"  title="In Repository Github">
                <button type="button" tabindex="-1">
                    <i class="fa-solid fa-code"></i>
                </button>
            </a>
            <a href="https://github.com/CardinalRPH/" title="My Github">
                <button type="button" tabindex="-1">
                    <i class="fa-brands fa-github"></i>
                </button>
            </a>
        </div>
        <div class="text-center footer-text">
            © 2023 Copyright :
            <a class="text-white" href="#">Ignis Taste</a>
        </div>
    </footer>
</body>

</html>
